<!DOCTYPE html>
<head>
    <title>Our Team</title>
    <link rel="stylesheet" href=style2.css>
    <link rel="stylesheet" href=<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1> Our Team</h1>
        </div>
        <div class="teams">
            <img src="profile.jpg" height=100px>
            <div class="name">Pratham</div>
            <div class="desig">Member</div>
            <div class="about">Some text here</div>
            <div class="links">
                <a href="#"><i class="fa fa-facebook></i></a>
                <a href="#"><i class="fa fa-instagram></i></a>
                <a href="#"><i class="fa fa-twitter></i></a>
                <a href="#"><i class="fa fa-github></i></a>
            </div>

        </div>
    </div>
</body>
